@font-face {
  font-family: "Medieval";
  src: local("../../assets/fonts/AlmendraDisplay/AlmendraDisplay-Regular.ttf") format("ttf");
}

.background {
  background-color: #bdc3c7;
}
.nav-logo {
  height: 60px;
  width: 60px;
  margin-left: 7.5px;
}

.brand-box-model{
  padding-left: .68rem;
  padding-bottom: 0;
}

a.medieval {
  font-family: "Medieval" !important;
}

.kerning-ligature {
    font-kerning: normal;
    font-weight: 600;
    font-size: 2.1em;
    letter-spacing: -0.02em;
    /* 1.2 line-height default */
    line-height: 1.5;
}

.letter-big {
  font-size: 1.08em;
  font-weight: 700;
}

.link-font {
  font-size: 22px;
  font-weight: 550 !important;
  letter-spacing: -0.02em;
}

.misclick-deny {
  margin-left: 1em;
  margin-right: 5em;
}


/* mobile in portrait */
@media only screen and (max-width : 480px) {
  .nav-logo {
    display: none;
  }
  .brand-box-model {
    padding: 0 0 0 0;
  }
  .link-font {
    font-size: 18px;
  }
  .kerning-ligature {
    font-family: "MedievalSharp", "Roboto", sans-serif;
    font-kerning: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    /* 1.2 line-height default */
    line-height: 1.5;
    margin-left: 8px;
    }
  }
