/* custom import */
@font-face {
  font-family: "Roboto", "MedievalSharp";
  src: local("Roboto"),
    url("./assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/MedievalSharp/MedievalSharp-Regular.ttf") format("truetype");
    font-weight: normal;
}

/* 
--------------------------------
where we refer to import font... first is roboto, our custom font
fallbacks included as well
think about woff rather than ttf for better optimization,
but will still need ttf for fallback for non-ultra-modern browsers.
--------------------------------
*/
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
